<div class="lower-boundary-filter-section">
    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Bottom">

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="Ganti Hari"
                    Value="@NullableLowerBoundaryDateTime"
                    ValueChanged="OnLowerBoundaryDateChangedAsync"/>
            </div>
        </div>

    </FluentStack>
</div>