<div class="boundary-filter-section">

    <div class="d-flex flex-column" style="margin-bottom: 16px;">
        <div>
            Ubah data <span class="fw-bold">Daily</span>
        </div>
        <div>
            Tanggal terpilih saat ini: <span class="date-only-badge fw-bold">@GetCurrentLowerBoundaryDate()</span>
        </div>
    </div>

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Top">

        <div class="filter-date boundary-filter">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="Ganti Hari"
                    Value="@NullableLowerBoundaryDateTime"
                    ValueChanged="OnLowerBoundaryDateChanged"/>
            </div>
        </div>
        <div class="boundary-warning">
            Batas filter rentang hari berdasarkan pada rentang <span class="fw-bold">Monthly</span>. Diluar rentang tersebut data tidak termasuk.
        </div>
    </FluentStack>
</div>