<div class="boundary-filter-section">
    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Bottom">

        <div class="filter-date boundary-filter">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Value="@NullableLowerBoundaryDateTime"
                    ValueChanged="OnLowerBoundaryDateChangedAsync"/>
            </div>
        </div>

    </FluentStack>
</div>