<div class="dashboard-filter-section">

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Bottom">

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="Tgl. Permohonan"
                    Value="@NullableFilterDateTimeMin"
                    ValueChanged="SetFilterDateTimeMin"/>
            </div>
            <div class="date-until">
                <span>s.d</span>
            </div>
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="@FilterDateTimeRangeLabel"
                    Value="@NullableFilterDateTimeMax"
                    ValueChanged="SetFilterDateTimeMax"/>
            </div>
        </div>

    </FluentStack>

</div>