<div class="upper-boundary-filter-section">

    <h4>Rentang Data Presale</h4>

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Bottom">

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="Tgl. Permohonan"
                    Value="@NullableUpperBoundaryDateTimeMin"
                    ValueChanged="OnUpperBoundaryDateMinChangedAsync"/>
            </div>
            <div class="date-until">
                <span>s.d</span>
            </div>
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="@FilterDateTimeRangeLabel"
                    Value="@NullableUpperBoundaryDateTimeMax"
                    ValueChanged="OnUpperBoundaryDateMaxChangedAsync"/>
            </div>
            <div style="margin-left: 8px;">
                <FluentButton Appearance="Appearance.Neutral" OnClick="ReloadAsync">Reload</FluentButton>
            </div>
        </div>

    </FluentStack>

</div>