<div class="boundary-filter-section">

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Bottom">

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Disabled="true"
                    Value="@NullableUpperBoundaryDateTimeMin"/>
            </div>
            <div class="date-until">
                <span style="color: var(--inactive-grey);">s.d</span>
            </div>
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Disabled="true"
                    Value="@NullableUpperBoundaryDateTimeMax"/>
            </div>
        </div>

    </FluentStack>

</div>