<div class="timeline-stack">
    <div>Timeline</div>

    <div class="timeline-step">
        <div class="timeline-header">
            IMPORT
        </div>
        <div class="timeline-content">
            stack 1
        </div>
    </div>

    <div class="timeline-step">
        <div class="timeline-header">
            VERIFIKASI
        </div>
        <div class="timeline-content">
            stack 2
        </div>
    </div>

    <div class="timeline-step">
        <div class="timeline-header">
            VALIDASI HELPDESK
        </div>
        <div class="timeline-content">
            stack 3
        </div>
    </div>

    <div class="timeline-step">
        <div class="timeline-header">
            APPROVAL
        </div>
        <div class="timeline-content">
            stack 4
        </div>
    </div>
</div>