.progress-report{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.progress-report-id-permohonan-stack{
    font-weight: 700;
}

.progress-report-content{
    width: fit-content;
    font-weight: 600;
    background-color: var(--accent-blue);
    padding: 0 4px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.progress-report-nama{
    margin-bottom: 16px;
}

.progress-report-id-pln-stack{
    font-weight: 700;
}

.progress-report-alamat{
    margin-bottom: 16px;
}

.progress-report-shareloc{
    margin-bottom: 16px;
}

.splitter-stack{
    display: flex;
}

.splitter-stack-label{
    padding-right: 4px;
    font-weight: 700;
}

.splitter-stack-splitter{
    padding-right: 8px;
    font-weight: 700;
}

.splitter-stack-splitter{
    width: fit-content;
    font-weight: 600;
    background-color: var(--accent-blue);
    padding: 2px 4px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.splitter-stack-splitter-ganti{
    width: fit-content;
    font-weight: 700;
    background-color: var(--warning-yellow);
    padding: 0 4px;
    color: var(--soft-black);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.progress-report-table-jarak{
    width: 216px;
}

.progress-report-table-jarak .distance {
    text-align: right;
}

.progress-report-va-terbit{
    display: flex;
    flex-direction: row;
}

.progress-report-va-terbit-date{
    margin-left: 4px;
    width: fit-content;
    background-color: #d1e4eb;
    padding: 0 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.progress-report-stack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-stack-progress-report{
    width: 350px;
    margin-right: auto;
    padding: 8px;
    margin-top: 16px;
    padding-bottom: 0 !important;
}

.right-stack-progress-report{
    width: 350px;
    margin-left: auto;
    padding: 8px;
    margin-top: 16px;
    margin-right: 10%;
    padding-bottom: 0 !important;
}

.progress-report-label{
    font-weight: 700;
}

.progress-report-fragment{
    margin-bottom: 16px;
}