.timeline-stack{
    /* background-color: cadetblue; */
    min-width: 350px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    max-height: 480px;
    overflow-y: scroll;
}

.timeline-stack::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.timeline-stack::-webkit-scrollbar-track{
    background-color: #cccccc;
}

.timeline-stack::-webkit-scrollbar-thumb{
    background-color: #646464;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.timeline-step{
    /* background-color: aquamarine; */
    height: 100px;
    display: flex;
    flex-direction: column;
}

.timeline-header{
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: row;
}

.timeline-content{
    /* background-color: beige; */
    height: 100%;
    border-left: 4px solid;
    margin-left: 8px;
    padding: 4px 8px;
}

.timeline-step-closed-lost .timeline-header .timeline-title,
.timeline-step-rejected .timeline-header .timeline-title,
.timeline-step-approved .timeline-header .timeline-title,
.timeline-step-active .timeline-header .timeline-title{
    font-weight: 700;
}

.timeline-step-pending .timeline-header .timeline-title{
    font-weight: 600;
}

.timeline-step-active{

}

.timeline-step-pending{

}

.timeline-step-closed-lost{

}

.timeline-step-rejected{

}

.timeline-step-approved{

}

.timeline-step-active .timeline-header{
    color: var(--soft-black);
}

.timeline-step-pending .timeline-header{
    color: var(--inactive-grey);
}

.timeline-step-active .timeline-content{
    border-left: 4px solid var(--accent-blue) !important;
}

.timeline-step-pending .timeline-content{
    border-left: 4px solid var(--inactive-grey) !important;
}

.timeline-step-closed-lost .timeline-content{
    border-left: 4px solid var(--soft-black) !important;
}

.timeline-step-rejected .timeline-content{
    border-left: 4px solid var(--error-red) !important;
}

.timeline-step-approved .timeline-content{
    border-left: 4px solid var(--success-green) !important;
}

.tracker-label-closed-lost{
    background-color: var(--soft-black);
    color: white;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.tracker-label-rejected{
    background-color: var(--error-red);
    color: white;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.tracker-label-expansion,
.tracker-label-approved{
    background-color: var(--success-green);
    color: white;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}