<div class="timeline-stack">
    <div style="padding: 8px;">Timeline: @WorkPaper!.WorkPaperLevel</div>

    <div class="@GetImportTimelineStepCss()">
        <div class="timeline-header" style="font-weight: 700; padding-left: 16px;">
            IMPORT
        </div>
        <div class="timeline-content">
            stack 1
        </div>
    </div>

    <div class="@GetVerificationTimelineStepCss()">
        <div class="timeline-header" style="font-weight: 700; padding-left: 16px;">
            VERIFIKASI
        </div>
        <div class="timeline-content">
            stack 2
        </div>
    </div>

    <div class="@GetValidatingTimelineStepCss()">
        <div class="timeline-header" style="font-weight: 700; padding-left: 16px;">
            VALIDASI HELPDESK
        </div>
        <div class="timeline-content">
            stack 3
        </div>
    </div>

    <div class="@GetWaitingApprovalTimelineStepCss()">
        <div class="timeline-header" style="font-weight: 700; padding-left: 16px;">
            APPROVAL
        </div>
        <div class="timeline-content">
            stack 4
        </div>
    </div>
</div>