
.progress-stack{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.progress-tracker{
    margin-top: 16px;
    margin-right: 32px;
}

.progress-report{
    margin-top: 16px;

    background-color: #f04444;
}

.progress-workpaper-level{
    padding: 8px 0;
}

.progress-step{
    display: flex;
    flex-direction: column;
    width: 325px;
}

.progress-step-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-step-header-label{
    display: flex;
    margin: 0 8px;
    font-weight: 700;
}

.progress-step-header-date{
    margin-left: auto !important;
    font-weight: 400 !important;
    color: #797979;
}

.progress-step-header-circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--cold-blue);
  }

.progress-step-body{
    display: flex;
    flex-direction: column;
    padding: 8 8px;
    border-left: 2px solid var(--cold-blue);
    margin: 4px 0;
    margin-left: 8px !important;
    min-height: 40px;
    height: fit-content;
}

.progress-step-body-content{
    padding: 2px 8px;
}

.progress-result-label{
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.search-bar-stack{
    display: flex;
    flex-direction: row;
    align-items: center;
}