
.progress-stack{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.progress-tracker{
    margin-top: 16px;
    margin-right: 32px;
}

.progress-report{
    margin-top: 16px;
    /* background-color: #f04444; */
}

.progress-workpaper-level{
    padding: 8px 0;
}

.progress-step{
    display: flex;
    flex-direction: column;
    width: 325px;
}

.progress-step-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-step-header-label{
    display: flex;
    margin: 0 8px;
    font-weight: 700;
}

.progress-step-header-date{
    margin-left: auto !important;
    font-weight: 400 !important;
    color: #797979;
}

.progress-step-header-circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--cold-blue);
  }

.progress-step-body{
    display: flex;
    flex-direction: column;
    padding: 8 8px;
    border-left: 2px solid var(--cold-blue);
    margin: 4px 0;
    margin-left: 8px !important;
    min-height: 40px;
    height: fit-content;
}

.progress-step-body-content{
    padding: 2px 8px;
}

.progress-result-label{
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.progress-report{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.progress-report-id-permohonan-stack{
    font-weight: 700;
}

.progress-report-id-permohonan{
    width: fit-content;
    font-weight: 600;
    background-color: var(--cold-blue);
    padding: 0 4px;
    color: white;
    border-radius: 3px;
}

.progress-report-nama{
    margin-bottom: 16px;
}

.progress-report-id-pln-stack{
    font-weight: 700;
}

.progress-report-id-pln{
    width: fit-content;
    font-weight: 600;
    background-color: var(--cold-blue);
    padding: 0 4px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.progress-report-alamat{
    margin-bottom: 16px;
}

.progress-report-shareloc{
    padding-top: 16px;
    margin-bottom: 16px;
}


.splitter-stack{
    display: flex;
}

.splitter-stack-label{
    padding-right: 8px;
    font-weight: 700;
}

.splitter-stack-splitter{
    padding-right: 8px;
    font-weight: 700;
}

.splitter-stack-splitter{
    width: fit-content;
    font-weight: 600;
    background-color: var(--cold-blue);
    padding: 0 4px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.progress-report-table-jarak{
    width: 216px;
}

.progress-report-table-jarak .distance {
    text-align: right;
}