<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Chat())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="chat-box">
    <div class="chat-bubble">
        <p>
            Selamat pagi kak, kami dari Helpdesk ICONNET ingin mengkorfimasi pemasangan baru 😊
        </p>
    </div>
    <div class="chat-bubble">
        <p>
            @((MarkupString)text.FormatHtmlBreak())
        </p>
    </div>
</div>

@code
{
    string text = "First line.\n Second line.";
}