/* html{
    height: 100vh;
}

body{
    height: 100%;
} */

header{
    background-color: #fbfbfb !important;
    color: black !important;
    border-bottom: 1px solid #d6d4d4;
}

header .header-gutters{
    font-weight: normal !important;
}

table {
    border-collapse: collapse;
}

td, th {
    text-decoration: none;
    font-weight: normal;
}

input:invalid::part(root) {
    outline: none;
}

.invalid::part(root) {
    outline: none;
}

.page-description{
    margin-bottom: 0.5rem;
}