table {
    border-collapse: collapse;
}

td, th {
    text-decoration: none;
    font-weight: normal;
}

input:invalid::part(root) {
    outline: none;
}

::deep .fluent-nav-icon {
    padding-top: 5px;
}

.invalid::part(root) {
    outline: none;
}

.page-description{
    margin-bottom: 0.5rem;
}

#main-menu-expander.fluent-nav-item.expander .positioning-region:hover{
    background-color: var(--neutral-fill-stealth-rest) !important;
}

#main-menu-expander.fluent-nav-item.expander .positioning-region:hover .fluent-nav-link .fluent-nav-icon{
    fill: var(--accent-fill-rest) !important;
}

.fluent-nav-item .positioning-region:hover{
    background-color: var(--accent-fill-rest) !important;
    color: white;
}

.fluent-nav-item .positioning-region:hover .content-region .fluent-nav-icon{
    fill: white !important;
}

.fluent-nav-item a.active .positioning-region:hover::before
{
    background: white !important;
}

.tab-nav{
    border-bottom: 1px solid #e6e6e6;
    height: 40px;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab{
    /* padding: 0 10px; */
    margin: 0 5px;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
}

.tab-content{
    border-radius: 3px;
    /* border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
    cursor: pointer;
    padding: 0 4px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-active{
    background-color: var(--accent-fill-rest) !important;
    color: #e6e6e6;
}

.tab-close{
    border-radius: 3px;
    /* border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; */
    cursor: pointer;
    padding: 0 5px;
    border: none;
}

.tab-close-icon{
    width: 12px;
    fill: var(--accent-fill-rest);
    cursor: pointer;
}

.tab-close:hover{
    background-color: #f04444;
}

.tab-close:hover svg.tab-close-icon{
    fill: white !important;
}

.tab-back{
    margin-left: auto;
}

.navigate-back{
    padding: 10px;
    margin-right: 5px;
}

.navigate-back button{
    height: 32px;
    background-color: white;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.navigate-back button svg{
    width: 20px;
    fill: var(--accent-fill-rest);
}

.navigate-back button:hover{
    background-color: var(--accent-fill-rest);
}

.navigate-back button:hover svg{
    fill: white;
}

.navigate-back button:active{
    background-color: white !important;
}

.navigate-back button:active svg{
    fill: var(--accent-fill-rest) !important;
}

.filter-toggle{
    margin-left: auto;
}

.filter-section-disable{
    display: none;
}

.filter-section{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: 10px 0;
    padding: 10px;
    padding-right: 0;
}

.filter-section-disabled{
    display: none;
}

.filter-office,
.filter-date,
.filter-search{
    white-space: nowrap;
}

/* fluent-text-field.fluent-datepicker, */
/* .fluent-datepicker::part(root){
    width: 150px !important;
} */

.filter-date{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.filter-office,
.date-picker{
    display: flex;
    flex-direction: column;
}

.filter-search label.fluent-input-label,
.filter-office label.fluent-input-label,
.date-picker label.fluent-input-label{
    font-weight: 600;
}

.date-until{
    padding: 6px;
}

.search-box{
    display: flex;
    flex-direction: column;
}

.filter-reset{
    margin-left: auto;
}

/* .staging-table-toggle{
    margin-left: auto;
}

.staging-table{
    margin-left: auto;
} */

.staging-active{
    font-weight: 600;
    cursor: pointer;
    background-color: var(--success);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    z-index: 999;
}

.staging-waiting,
.staging-expired{
    font-weight: 600;
    cursor: pointer;
    background-color: var(--info);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    z-index: 999;
}