table {
    border-collapse: collapse;
}

td, th {
    text-decoration: none;
    font-weight: normal;
}

input:invalid::part(root) {
    outline: none;
}

::deep .fluent-nav-icon {
    padding-top: 5px;
}

.invalid::part(root) {
    outline: none;
}

.page-description{
    margin-bottom: 0.5rem;
}

.tab-nav{
    border-bottom: 1px solid #414141;
    height: 40px;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab{
    /* padding: 0 10px; */
    margin: 0 5px;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
}

.tab-content{
    cursor: pointer;
    padding: 0 4px;
    /* background-color: crimson; */
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-close{
    cursor: pointer;
    /* background-color: rgb(161, 23, 65); */
    padding: 0 5px;
    border: none;
}