/* fix overflow-x rendering glitch */
fluent-data-grid{
    min-width: max-content;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

fluent-data-grid-row:not(.header):hover {
    background-color: #F0F0F0;
    cursor: default;
}

fluent-data-grid-cell:not(.column-header):hover + fluent-data-grid-row{
    background-color: #F0F0F0;
}

fluent-data-grid-row.header,
fluent-data-grid-cell.column-header{
    background-color: #F0F0F0;
    color: #373737;
    cursor: default;
}

fluent-data-grid-cell.column-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

fluent-data-grid-row.header,
fluent-data-grid-cell.column-header{
    height: 32px;
}

fluent-data-grid-cell.column-header fluent-button.col-options-button{
    align-items: center;
}

fluent-data-grid-cell.column-header fluent-button.col-options-button::part(control){
    margin-left: 4px;
    height: 24px;
    background-color: #F0F0F0;
    /* background-color: crimson; */
}

fluent-data-grid-cell{
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fluent-data-grid-cell fluent-button.col-sort-button::part(control){
    background-color: #F0F0F0;
    color: #373737;
}

fluent-data-grid-cell.column-header fluent-button.col-sort-button .col-title-text,
fluent-data-grid-cell.column-header .col-title .col-title-text{
    font-weight: 700;
    color: #5e5f5f;
}

fluent-data-grid-cell.column-header .col-options{
    padding: 8px;
    left: 1px;
    box-shadow: none;
}

fluent-data-grid-cell.column-header{
    border-radius: 0;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

fluent-data-grid-cell.column-header:first-child{
    border-left: none;
}

fluent-data-grid-cell.column-header:last-child{
    border-right: none;
}

/* fluent-data-grid-cell.column-header .col-title{
    border-right: 1px solid #373737;
    border-left: 1px solid #373737;
} */

fluent-data-grid-row fluent-data-grid-cell.grid-cell-placeholder:after{
    text-align: center;
}

.datagrid-wrapper{
    margin-top: 0.5rem;
    overflow-x: auto;
}

.datagrid-wrapper::-webkit-scrollbar{
    width: 12px;
    height: 0.65rem;

}
.datagrid-wrapper::-webkit-scrollbar-track{
    background-color: #cccccc;
}

.datagrid-wrapper::-webkit-scrollbar-thumb{
    background-color: #646464;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.column-adjusted{
    margin-left: 30px;
}