fluent-data-grid{
    min-width: max-content;
}

fluent-data-grid-row:not(.header):hover {
    background-color: rgb(240, 240, 240);
    cursor: default;
}

fluent-data-grid-cell:not(.column-header):hover + fluent-data-grid-row{
    background-color: rgb(231, 231, 231);
}