/* fix overflow-x rendering glitch */
fluent-data-grid{
    min-width: max-content;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

fluent-data-grid-row:not(.header):hover {
    background-color: #F0F0F0;
    cursor: default;
}

fluent-data-grid-cell:not(.column-header):hover + fluent-data-grid-row{
    background-color: #F0F0F0;
}

fluent-data-grid-row.empty-content-row:hover{
    background-color: white;
    cursor: default;
}

fluent-data-grid-row.header,
fluent-data-grid-cell.column-header{
    background-color: #F0F0F0;
    color: #373737;
    cursor: default;
}

fluent-data-grid-cell.column-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

fluent-data-grid-row.header,
fluent-data-grid-cell.column-header{
    height: 32px;
}

fluent-data-grid-cell.column-header fluent-button.col-options-button{
    align-items: center;
}

fluent-data-grid-cell.column-header fluent-button.col-options-button::part(control){
    margin-left: 4px;
    height: 24px;
    background-color: #F0F0F0;
    /* background-color: crimson; */
}

fluent-data-grid-cell{
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fluent-data-grid-cell fluent-button.col-sort-button::part(control){
    background-color: #F0F0F0;
    color: #373737;
}

fluent-data-grid-cell.column-header fluent-button.col-sort-button .col-title-text,
fluent-data-grid-cell.column-header .col-title .col-title-text{
    font-weight: 700;
    color: #5e5f5f;
}

/* shadow filter */
/* fluent-data-grid-cell.column-header .col-options{
    padding: 8px;
    left: 1px;
    box-shadow: none;
} */

/* fluent-data-grid-cell.column-header {
    position: relative;
}

fluent-data-grid-cell.column-header::before {
    content: "";
    position: absolute;
    top:  3px;
    bottom: 3px;
    left:  0;
    right:  0;
    border-right:  2px solid #e2e2e2;
}

fluent-data-grid-cell.column-header:last-of-type::before{
    border-right: none;
} */

fluent-data-grid-cell.column-header{
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #f0f0f0 0%, #e2e2e2 20%, #e2e2e2 50%, #e2e2e2 80%, #f0f0f0 100%);
    border-image-slice: 1;
    /* border-radius: 0;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0; */
}

fluent-data-grid-cell.column-header:first-child{
    border-left: none;
}

fluent-data-grid-cell.column-header:last-child{
    border-right: none;
}

/* fluent-data-grid-cell.column-header .col-title{
    border-right: 1px solid #373737;
    border-left: 1px solid #373737;
} */

/* fluent-data-grid-row fluent-data-grid-cell.grid-cell-placeholder:after{
    text-align: center;
} */

.scroll-mode-checkbox{
    padding: 10px 8px;
}

.datagrid-wrapper{
    overflow-x: auto;
    overflow-y: auto;
}

.datagrid-wrapper fluent-data-grid fluent-data-grid-row.header{
    height: 33px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #c5c5c5 !important;
}

.datagrid-wrapper::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.datagrid-wrapper::-webkit-scrollbar-track{
    background-color: #cccccc;
}

.datagrid-wrapper::-webkit-scrollbar-thumb{
    background-color: #646464;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.datagrid-wrapper .paginator{
    margin-bottom: 8px;
}

.paginator .summary{
    width: 100%;
}

.paginator .paginator-nav{
    margin-left: auto;
    width: 480px;
    padding: 0;
}