.crm-verification-view thead tr th,
.crm-verification-view thead tr td{
    vertical-align: top;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.footer-crm-verification{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.workload-staging thead tr th,
.workload-staging-view thead tr td{
    vertical-align: top;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.chat-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #cccccc;
    background-image: url('/images/chat-background.png');
    border: 1px solid #373737;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.chat-bubble{
    background-color: #dcf8c6;
    color: #2c2c2c;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 8px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-bottom-right-radius: 3px !important;
}

.chat-text{
    font-family: "Roboto";
    margin: 0;
    padding: 8px 16px;
}