.validation-header{
    margin-bottom: 10px;
}
.validation-info{
    padding-right: 6px;
    font-weight: 400 !important;
}

#validation-id .fluent-typography{
    font-weight: 500 !important;
}

.validation-element{
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: cornflowerblue;
}

.validation-element-arrange{
    display: flex;
    flex-direction: column;
}

.arrange-start{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.arrange-end{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.validation-label{
    display: flex;
    flex-direction: column;
    width: 165px;
    background-color: aquamarine;
    margin-right: 10px;
}

.validation-value{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #97afdb
}

.validation-label .fluent-typography,
.validation-value .fluent-typography{
    padding: 4px;
    cursor: default;
}

.validation-label .fluent-typography{
    font-weight: 700 !important;
    color: #373737 !important;
}

.validation-value .fluent-typography{
    max-width: fit-content;
    font-weight: 600 !important;
    color: #373737 !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.validation-shareloc{
    background-color: crimson;
}