.validation-header{
    margin-bottom: 10px;
}
.validation-info{
    white-space: nowrap;
    padding-right: 6px;
    font-weight: 400 !important;
}


.validation-info-badge {
    background-color: #ffbe14;
    font-weight: 700;
    color: #1a1a1a;
    padding: 0 4px;
    /* border: 1px solid #dadada; */
    border-radius: 3px;
}

#validation-id .fluent-typography{
    font-weight: 500 !important;
}

.validation-element{
    display: flex;
    flex-direction: row;
    align-items: start;
    /* background-color: cornflowerblue; */
}

.validation-element-push{
    margin-top: 28px;
}

.validation-element-arrange{
    display: flex;
    flex-direction: column;
}

.arrange-start{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.arrange-end{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.validation-label{
    display: flex;
    flex-direction: column;
    width: 185px;
    /* background-color: crimson; */
    margin-right: 10px;
}

.validation-value{
    display: flex;
    flex-direction: column;
    width: 300px;
    /* background-color: #97afdb */
}

.validation-label .fluent-typography,
.validation-value .fluent-typography{
    padding: 4px;
    cursor: default;
}

.validation-label .fluent-typography{
    font-weight: 700 !important;
    color: #373737 !important;
}

.validation-label-bg{
    background-color: #ededed;
    border-radius: 5px;
    height: fit-content;
    padding: 0 8px;
}

.validation-label-bg p.fluent-typography{
    margin-top: 2px;
}

.validation-label-closed-lost{
    display: flex;
    flex-direction: column;
    width: 185px;
    margin-right: 10px;
}

.validation-label-closed-lost fluent-button::part(control){
    font-weight: 600 !important;
}

.validation-value .fluent-typography{
    cursor: pointer !important;
    max-width: fit-content;
    font-weight: 600 !important;
    color: #373737 !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.validation-value-bg-waiting{
    background-color: #f3f2f2;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #f3f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.validation-value-bg-invalid{
    background-color: var(--error-red);
    height: fit-content;
    border: 1px solid var(--error-red);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.validation-value-bg-valid{
    background-color: var(--success-green);
    height: fit-content;
    border: 1px solid var(--success-green);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.validation-value-bg-warning{
    background-color: var(--warning-yellow);
    height: fit-content;
    border: 1px solid var(--warning-yellow);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.validation-value-bg-invalid p.fluent-typography,
.validation-value-bg-valid p.fluent-typography{
    color: white !important;
}

.validation-value-bg-warning p.fluent-typography{
    color: var(--soft-black) !important;
}

.validation-value-clipboard{
    cursor: pointer;
}

.validation-shareloc{
    background-color: crimson;
}

/* .validation-bottom-margin{
    margin-bottom: 40px;
} */

.validation-textarea::part(control){
    height: 104px
}

.validation-submit{
    margin-top: 14px;
    margin-bottom: 8px;
}

.validation-aging-response{
    /* background-color: #ededed; */
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.validation-aging-label{
    font-weight: 700;
}

.validation-closed-lost{
    font-weight: 700;
    background-color: var(--soft-black);
    color: white;
    margin: 4px;
    padding: 2px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.closed-lost-badge{
    font-weight: 600;
    background-color: var(--soft-black);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.input-form{
    display: flex;
    flex-direction: column;
}

.input-form .fluent-input-label{
    font-weight: 700 !important;
}

.approval-header{
    margin-bottom: 10px;
}
.approval-info{
    padding-right: 6px;
    font-weight: 400 !important;
}

#approval-id .fluent-typography{
    font-weight: 500 !important;
}

.approval-element{
    display: flex;
    flex-direction: row;
    align-items: start;
    /* background-color: cornflowerblue; */
}

.approval-element-push{
    margin-top: 32px;
}

.approval-element-arrange{
    display: flex;
    flex-direction: column;
}

.approval-label{
    display: flex;
    flex-direction: column;
    width: 185px;
    /* background-color: crimson; */
    margin-right: 10px;
}

.approval-value{
    display: flex;
    flex-direction: column;
    width: 300px;
    /* background-color: #97afdb */
}

.approval-label .fluent-typography,
.approval-value .fluent-typography{
    padding: 4px;
    cursor: default;
}

.approval-label .fluent-typography{
    font-weight: 700 !important;
    color: #373737 !important;
}

.approval-label-bg{
    background-color: #ededed;
    border-radius: 5px;
    height: fit-content;
    padding: 0 8px;
}

.approval-label-bg p.fluent-typography{
    margin-top: 2px;
}

.approval-value .fluent-typography{
    cursor: pointer !important;
    max-width: fit-content;
    font-weight: 600 !important;
    color: #373737 !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.approval-value-bg{
    background-color: #f3f2f2;
    height: fit-content;
    border: 1px solid #f3f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-validation-result-bg{
    height: fit-content;
    border: 1px solid #ededed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-validation-result-bg p.fluent-typography{
    color: #9b9b9b !important;
    font-weight: 400 !important;
}

.approval-value-bg-accent{
    background-color: var(--accent-base-color);
    height: fit-content;
    border: 1px solid var(--accent-base-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-neutral{
    min-height: 30px;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #f3f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-info{
    background-color: #f3f2f2;
    height: fit-content;
    border: 1px solid #f3f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-invalid{
    background-color: var(--error-red);
    height: fit-content;
    border: 1px solid var(--error-red);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-valid{
    cursor: pointer !important;
    background-color: var(--success-green);
    height: fit-content;
    border: 1px solid var(--success-green);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-revision{
    cursor: pointer !important;
    background-color: var(--accent-base-color);
    height: fit-content;
    border: 1px solid var(--accent-base-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-note{
    background-color: #ffbe14;
    height: fit-content;
    border: 1px solid #ffbe14;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-closed-lost{
    background-color: var(--soft-black);
    height: fit-content;
    border: 1px solid var(--soft-black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.approval-value-bg-accent p.fluent-typography,
.approval-value-bg-closed-lost p.fluent-typography,
.approval-value-bg-revision p.fluent-typography,
.approval-value-bg-invalid p.fluent-typography,
.approval-value-bg-valid p.fluent-typography{
    color: white !important;
}

.approval-value-bg-note p.fluent-typography{
    color: #1a1a1a !important;
}

.approval-value-clipboard,
.approval-value-clipboard p.fluent-typography{
    cursor: pointer;
}

.approval-shareloc{
    background-color: crimson;
}

.approval-bottom-margin{
    margin-bottom: 40px;
}

.approval-textarea::part(control){
    height: 104px
}

.approval-value-label{
    display: flex;
    flex-direction: row !important;
}

.approval-value-stack-distance{
    margin-right: 45px;
    margin-top: -26px;
}

.approval-value-stack-distance label{
    font-weight: 500;
}

.approval-value-status{
    display: flex;
    flex-direction: row !important;
    margin-top: -26px;
}


.approval-label-result label.fluent-input-label,
.approval-value-status div label.fluent-input-label{
    font-weight: 600 !important;
}

.approval-element-push{
    margin-top: 32px;
}

.approval-element-push-far{
    margin-top: 66px !important;
}

.approval-label-result{
    margin-top: -26px;
}

.approval-label-result label.fluent-input-label{
    font-weight: 500;
}

.approval-submit{
    width: 185px;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.approval-submit-button{
    width: 185px;
}

.approval-chat-history-link{
    margin: 4px 0;
}

.approval-chat-history-link a{
    /* border: 1px solid gainsboro; */
    border-radius: 3px;
    padding: 2px 4px;
}

.meter-unit {
    color: #939391;
    position: absolute;
    z-index: 99;
    margin-top: 30px;
    left: 105px;
}