.front-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-textfield{
    width: 200px;
}

.password-textfield{
    width: 200px;
}

.error-warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .username-textfield::part(root),
.password-textfield::part(root){
    border: 1px solid;
} */

.sign-in-button{
    width: 200px;
}

.sign-in-button-guest{
    width: 200px;
    margin-top: 30px;
}

.loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional background color */
}
