.sign-in-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-textfield{
    width: 200px;
}

.password-textfield{
    width: 200px;
}

.error-warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-button{
    width: 200px;
}

.sign-in-button-guest{
    width: 200px;
    margin-top: 30px;
}

.loading-app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.guest-page{
    padding: 0 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guest-page-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.guest-page-tracker{
    margin: 16px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .guest-page-tracker {
        flex-direction: column;
    }

    .timeline-stack{
        margin-top: 16px !important;
    }
}
