.sign-in-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-textfield{
    width: 200px;
}

.password-textfield{
    width: 200px;
}

.error-warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-button{
    width: 200px;
}

.sign-in-button-guest{
    width: 200px;
    margin-top: 30px;
}

.loading-app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.guest-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}