.fluent-timepicker {
    min-width: 100px !important;
}

fluent-button.accent:active::part(control),
fluent-button.accent:hover::part(control){
    color: #ffffff;
}

fluent-typography{
    margin-block: 0;
}

g.apexcharts-data-labels text.apexcharts-datalabel{
    fill: #231f20 !important;
}

.fluent-nav-text{
    width: calc(100% - 20px) !important;
}