
.approval-badge-in-progress{
    font-weight: 600;
    background-color: var(--info-grey);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.approval-badge-closed-lost{
    font-weight: 600;
    background-color: var(--soft-black);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.approval-badge-reject{
    font-weight: 600;
    background-color: var(--error-red);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.approval-badge-expansion{
    font-weight: 600;
    background-color: var(--success-green);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.approval-badge-approved{
    font-weight: 600;
    background-color: var(--success-green);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}