
.validation-badge-waiting{
    font-family: 'inter-semibold';
    font-weight: 600;
    background-color: var(--info-grey);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.validation-badge-invalid{
    font-family: 'inter-semibold';
    font-weight: 600;
    background-color: var(--error-red);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.validation-badge-valid{
    font-family: 'inter-semibold';
    font-weight: 600;
    background-color: var(--success-green);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.validation-badge-warning{
    font-family: 'inter-semibold';
    font-weight: 700;
    background-color: var(--warning-yellow);
    text-align: center;
    color: var(--soft-black);
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.validation-badge-not-responding{
    font-family: 'inter-semibold';
    font-weight: 600;
    background-color: var(--soft-black);
    text-align: center;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}