@rendermode InteractiveServer

@using IConnet.Presale.WebApp.Services
@using IConnet.Presale.Shared.Contracts.Identity.Authentication
@using IConnet.Presale.WebApp.Models.Identity
@using AnnotatedResult

@inject AuthenticationStateProvider _authenticationStateProvider
@inject ProtectedLocalStorage _localStorage
@inject IIdentityHttpClientService _identityHttpClientService

<PageTitle>IConnet Presale</PageTitle>

<FluentBodyContent Class="front-page">
    @if (_enableSignInForm)
    {
        <div class="front-page">
            <SignInForm Callback="ToggleEnabled"/>
        </div>
    }
    else
    {
        <span>Guest Mode</span>
    }
</FluentBodyContent>

@code
{
    private bool _enableSignInForm = true;

    private void ToggleEnabled()
    {
        _enableSignInForm = !_enableSignInForm;
    }

}