
<FluentStack Orientation="Orientation.Vertical"
    HorizontalAlignment="HorizontalAlignment.Center"
    VerticalAlignment="VerticalAlignment.Center">

    <div>
        <FluentSearch @bind-Value=_idPermohonan Placeholder="ID PERMOHONAN"/>
    </div>
</FluentStack>

@code
{
    private string? _idPermohonan;
}