@attribute [Route(PageRoute.Home)]
@inherits HomePageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Home</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Home</FluentLabel>
<span class="page-description">Halaman utama Presale App</span>

<div class="search-bar-stack">
    <FluentSearch
        Value=@IdPermohonan
        ValueChanged="OnIdPermohonanSearchChanged"
        Placeholder="ID PERMOHONAN"/>
    <div class="p-2">
    @if (IsLoading)
    {
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    }
    </div>
</div>
<div>

    @if (WorkPaper is not null)
    {
        <WorkPaperProgressTracker WorkPaper="@WorkPaper"/>
    }
</div>
