@rendermode @(InteractiveServer.DisablePreRender())

@using IConnet.Presale.WebApp.Services
@using IConnet.Presale.Shared.Contracts.Identity.Authentication
@using IConnet.Presale.WebApp.Models.Identity
@using AnnotatedResult

@inject AuthenticationStateProvider _authenticationStateProvider
@inject ProtectedLocalStorage _localStorage
@inject IIdentityHttpClientService _identityHttpClientService

<PageTitle>IConnet Presale</PageTitle>

<FluentBodyContent>
    @if (_enableSignInForm)
    {
        <div class="sign-in-form">
            <SignInForm ToggleGuestMode="ToggleEnabled"/>
        </div>
    }
    else
    {
        <div class="guest-page">
            <GuestPage />
        </div>
    }
</FluentBodyContent>

@code
{
    private bool _enableSignInForm = true;

    private void ToggleEnabled()
    {
        _enableSignInForm = !_enableSignInForm;
    }

}