@attribute [Route(PageRoute.Settings)]
@rendermode @(InteractiveServer.DisablePreRender())
@inherits SettingsPageBase

<PageTitle>Settings</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Settings</FluentLabel>
<span class="page-description">Configure App Settings</span>

@if (IsInitialized)
{
    <FluentTabs ActiveTabId="tab-1">
        <FluentTab Id="tab-1">
            <Header>
                <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                Root Cause
            </Header>
            <Content>
                <RootCauseSetting Models="RootCauseSettingModels"/>
            </Content>
        </FluentTab>
    </FluentTabs>
}
else
{
    <div class="d-flex flex-row align-items-center">
        <span class="px-1">Loading</span>
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    </div>
}