@attribute [Route(PageRoute.Settings)]
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Settings</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Settings</FluentLabel>
<span class="page-description">Configure App Settings.</span>