@attribute [Route(PageRoute.UserManager)]
@inherits UserManagerPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>User Manager</PageTitle>

<AuthorizeView Policy="@Policies.RolePlanningAssetCoverage"
    Context="AuthenticationContext">

    <Authorized>
        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">User Manager</FluentLabel>
        </div>
        <span class="page-description">Olah User Account</span>

        <div class="create-user-form">
            <CreateUserForm />
        </div>

    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>