@rendermode InteractiveServer

@using IConnet.Presale.WebApp.Models
@inject IJSRuntime _js

@namespace IConnet.Presale.WebApp.Components.Reusable

<div class="p-5">
    @_clipboardContent
</div>
<div class="p-1 flex-row">
    <span>Tab: @_tabCounter</span>
    <span>Enter: @_newLineCounter</span>
</div>

<FluentButton Class="m-1" Appearance="Appearance.Accent" OnClick="OnCrmImport">Import</FluentButton>

@code {
    private string _clipboardContent = "[empty]";
    private int _tabCounter = 0;
    private int _newLineCounter = 0;

    private async Task OnCrmImport()
    {
        var readText = await _js.InvokeAsync<string>("navigator.clipboard.readText");

        _clipboardContent = readText;
        CountSpecialCharacters(_clipboardContent, out int tabCount, out int newlineCount);
        _tabCounter = tabCount;
        _newLineCounter = newlineCount;

        StateHasChanged();
    }

    public void CountSpecialCharacters(string input, out int tabCount, out int newlineCount)
    {
        tabCount = 0;
        newlineCount = 0;
        foreach (char c in input)
        {
            if (c == '\t')
            {
                tabCount++;
            }
            else if (c == '\n')
            {
                newlineCount++;
            }
        }
    }
}