@using ApexCharts
@using IConnet.Presale.WebApp.Models.Presales.Reports

@if (Models.Count != 0)
{
    <div style="margin-top: -16px;">
        <ApexChart TItem="RootCauseReportTransposeModel"
            Options="Options">

            @foreach (var rootCause in Models.First().RootCauseMetrics.Keys)
            {
                <ApexPointSeries TItem="RootCauseReportTransposeModel"
                    Items="Models"
                    Name="@rootCause.TruncateWithEllipsis(32)"
                    SeriesType="SeriesType.Heatmap"
                    XValue="@(e => e.Office)"
                    YAggregate="@(e => e.Sum(x => x.RootCauseMetrics[rootCause]))"/>
            }

        </ApexChart>
    </div>
}
