@rendermode InteractiveServer

@using IConnet.Presale.WebApp.Services
@using IConnet.Presale.Shared.Contracts.Identity.Authentication
@using IConnet.Presale.WebApp.Models.Identity

@namespace IConnet.Presale.WebApp.Components.Reusable.Identity
@attribute [Authorize]

@inject IdentityClientService IdentityClient
@inject ProtectedLocalStorage LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div>
    <FluentCard Width="250px" Height="200px">
        <h3>Sign In</h3>
        <div class="form-container">
            <FluentTextField Class="m-1" @bind-Value=signInForm.Username Placeholder="Username"></FluentTextField>
            <FluentTextField Class="m-1" @bind-Value=signInForm.Password Placeholder="Password" TextFieldType="TextFieldType.Password"></FluentTextField>

            <FluentButton Class="m-1" Appearance="Appearance.Accent" OnClick="SubmitAsync">Sign In</FluentButton>
        </div>
    </FluentCard>
</div>

<div class="p-1">
    <AuthorizeView>
        <Authorized>
            <p>You are authenticated.</p>
        </Authorized>
        <NotAuthorized>
            <p>You are not authenticated.</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code
{
    private readonly SignInModel signInForm = new();
    string? result = "[security token]";

    private async Task SubmitAsync()
    {
        result = await SignInAsync();
        StateHasChanged();
    }

    public async Task<string> SignInAsync()
    {
        var httpResult = await IdentityClient.SignInAsync(
            signInForm.Username,
            signInForm.Password);

        if (httpResult.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };
            var response = JsonSerializer.Deserialize<SignInResponse>(httpResult.Content, options);
            var accessToken = response!.AccessToken;
            var refreshToken = response!.RefreshTokenStr;

            await LocalStorage.SetAsync("access-token", accessToken);
            await LocalStorage.SetAsync("refresh-token", refreshToken);

            var authenticationState = await AuthStateProvider.GetAuthenticationStateAsync();

            return accessToken;
        }

        return httpResult.Content;
    }

}