<div>
    @ChatTemplatesSettings.First().TemplateName
</div>
<div>
    @foreach(var chat in ChatTemplatesSettings)
    {
        <div class="chat-bubble-setting">
            @GetHtmlString(@chat.Content)
        </div>
    }
</div>