<div class="fw-bold" style="margin-top: 16px; margin-bottom: 8px;">
    Cheatsheet
</div>

<table style="font-size: 10px;">
<tr>
    <td style="width: 150px;">$ID_PLN</td>
    <td style="width: 150px;">ID PLN pelanggan</td>
</tr>
<tr>
    <td style="width: 150px;">$NAMA_PELANGGAN</td>
    <td style="width: 150px;">Nama pelanggan</td>
</tr>
<tr>
    <td style="width: 150px;">$NOMOR_TELEPON</td>
    <td style="width: 150px;">No. Telp pelanggan</td>
</tr>
<tr>
    <td style="width: 150px;">$ALAMAT_EMAIL</td>
    <td style="width: 150px;">Email aktif pelanggan</td>
</tr>
<tr>
    <td style="width: 150px;">$ALAMAT_PEMASANGAN</td>
    <td style="width: 150px;">Alamat pemasangan</td>
</tr>
<tr>
    <td style="width: 150px;">$NIK_PELANGGAN</td>
    <td style="width: 150px;">NIK pelanggan</td>
</tr>
<tr>
    <td style="width: 150px;">$WAKTU</td>
    <td style="width: 150px;">Label waktu Pagi atau Malam</td>
</tr>
<tr>
    <td style="width: 150px;">*Sample Text*</td>
    <td style="width: 150px;">Format <b>bold</b></td>
</tr>
<tr>
    <td style="width: 150px;">_Sample Text_</td>
    <td style="width: 150px;">Format <i>italic</i></td>
</tr>
</table>