
        <div class="direct-approval-settings">
        <FluentDataGrid Items="@ModelAvailable"
            TGridItem="string"
            Virtualize="true"
            ItemSize="32"
            GridTemplateColumns="@GridTemplateCols">

            <TemplateColumn Title="CHAT TEMPLATE" Style="@GetWidthStyle(150)">
                <div class="">
                    @context
                </div>
            </TemplateColumn>

        </FluentDataGrid>
    </div>