<div class="chat-bubble" @onclick="CopyChatTemplateAsync">
    <div class="chat-header">
        <span class="chat-sender-alias">@Sender</span>
    </div>
    <p class="chat-text">
        @GetChatTemplate()
    </p>
    <div class="chat-footer">
        @if (IsCopy)
        {
            <span class="chat-copied-label">copied</span>
        }
        <span class="chat-timestamp">@Timestamp</span>
    </div>
</div>
