<div class="chat-bubble" @onclick="CopyChatTemplate">
    <div class="chat-header">
        <span class="chat-sender-alias">@Sender</span>
    </div>
    <p class="chat-text">
        @GetChatTemplate()
    </p>
    <div class="chat-footer">
        <span class="chat-timestamp">@Timestamp</span>
    </div>
</div>
