<div>
    <p class="fw-bold" style="margin: 0;">Terjadi kesalahan pada Server:</p>
    <p class="fw-bold text-danger">@Exception.Message</p>
</div>

<div style="margin: 16px 4px;">
    <FluentButton Appearance="Appearance.Neutral"
        OnClick="@ReloadCurrentPage">
        Reload</FluentButton>
</div>