@inherits LayoutComponentBase

@using System.Text.RegularExpressions
@using IConnet.Presale.Shared.Validations

@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager

<AuthorizeView>
    <Authorized>
        <FluentLayout>
            <FluentHeader>
                <span style="font-weight: 600 !important;">Presale</span>
                <span style="font-weight: 300 !important;">Application</span>
            </FluentHeader>
            <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
                <NavMenu />
                <FluentBodyContent>
                    <div class="content">
                        @Body
                    </div>
                </FluentBodyContent>
            </FluentStack>
            <FluentFooter>
                <div class="link1">
                    <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
                </div>
                <div class="link2">
                    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
                </div>
            </FluentFooter>
        </FluentLayout>
    </Authorized>
    <NotAuthorized>
        <FluentLayout>
            @{
                Redirect();
            }
            <FrontPage />
        </FluentLayout>
    </NotAuthorized>
    <Authorizing>
        <LoadingScreen />
    </Authorizing>
</AuthorizeView>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await _authenticationStateProvider.GetAuthenticationStateAsync();
    }

    private void Redirect()
    {
        var homePage = new Regex(RegexPattern.HomePageUrl);
        var currentUrl = _navigationManager.Uri;

        if (!homePage.IsMatch(currentUrl))
        {
            _navigationManager.NavigateTo("/");
        }
    }
}