@rendermode @(InteractiveServer.DisablePreRender())

<div class="tab-nav">
    @if (TabNavigationManager.TabNavigations.Count > 0)
    {
        @foreach (var tabNavigation in TabNavigationManager.TabNavigations)
        {
            <TabNav Tab="tabNavigation"
                OnTabChange="ChangeTab"
                OnTabClose="CloseTab"/>
        }
    }
    <div class="tab-back">
        <FluentButton Appearance="Appearance.Lightweight"
            IconStart="@(new Icons.Regular.Size20.ArrowLeft())"
            OnClick="NavigateBack">
            Kembali</FluentButton>
    </div>
</div>
