@rendermode @(InteractiveServer.DisablePreRender())

<div class="tab-nav">
    @if (TabNavigationManager.TabNavigations.Count > 0)
    {
        @foreach (var tabNavigation in TabNavigationManager.TabNavigations)
        {
            <TabNav Tab="tabNavigation"
                ActiveTabId="@TabNavigationManager.ActiveTabId"
                OnTabChange="ChangeTab"
                OnTabClose="CloseTab"/>
        }
    }
    <div class="tab-back">
        <div class="navigate-back">
            <button @onclick="NavigateBack">
                <svg focusable="true" viewBox="0 0 20 20" aria-hidden="true">
                    <title>Kembali</title>
                    <path d="M8.73 16.8a.75.75 0 0 0 1.03-1.1l-5.24-4.95h12.73a.75.75 0 0 0 0-1.5H4.52l5.24-4.96A.75.75 0 1 0 8.73 3.2L2.31 9.27a1 1 0 0 0 0 1.46l6.42 6.07Z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
